[submodule "frontend"]
	path = frontend
	url = https://github.com/thisisdkyadav/hostel-management-system-frontend.git

[submodule "backend"]
	path = backend
	url = https://github.com/thisisdkyadav/hostel-management-system-backend.git
